#random-quote {
	text-align: center;
	font-style: italic;
	font-size: rem-calc(18);
}

.milliprik {
	border-top: 2px dashed lighten($primary-color, 30);
	margin: rem-calc(20) rem-calc(0);
}

p.center {
	text-align: center;
}

a.show-all {
	text-decoration: underline;
}

#about {
	padding-bottom: rem-calc(40);
}

.quotescollection-quote p:before {
	content:"„";
	display: inline;
}

.quotescollection-quote p:after {
	content:"“";
	display: inline;
}